*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --font-family-primary: "Montserrat", sans-serif;
  --font-family-fundamental: "Noto Sans", sans-serif;

  /* Dark mode */
  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;

  /* Light mode */
  /* --text-color-light: #213547; */
  --text-color-light: #2A303C;
  --background-color-light: whitesmoke;

    min-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-color: cornflowerblue; */
  height: fit-content;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  padding: 0;
  margin: 0 auto;
}

body {
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Typography */



/* Layout */

.main {
  display: flex;
  /* flex-direction: column;
  gap: 2rem; */
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 0 2.8rem;
}

.main-left-and-right-container {
  display: flex;
  width: 100%;
}

.main-right,
.main-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* width: 50%; */
  width: 100%;
  padding: 0;
  margin: 0;
}

.main-right {
  align-items: center;
  justify-content: center;
  background-color: #C1C7D7;
  /* height: 509px; */
  /* min-height: 509px; */
  height: 100%;
  /* width: 728px; */
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 16px;
}

.main-left {
  text-align: start;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  width: 50%;
}

.header {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1.5rem 0 0;
}

.header-container,
.main-container {
  display: flex;
  margin: 0 4.5rem;
  width: 100%;
  z-index: 7;
}

.header-container {
  height: 100%;
  /* padding: 3rem 4rem 0; */
  margin-top: 2rem;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.main-container {
  flex-direction: column;
  /* gap: 2rem; */
  /* padding: 5rem 7.8rem 0; */ /* 80px 124.8px 0 */
  /* margin-bottom: 2.5rem; */
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 44px;
  width: 43px;
  margin-right: 0.75rem;
}

.navbar,
.footer-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 60%; */
}

.header-navbar-links {
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 4rem; /* 64px */
}

.header-navbar-links h3,
.header-navbar-links a {
  color: inherit;
  margin: 0 0 0 3rem;
}

.header-mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 1.25rem 0 0 0;
}

.mobile-menu-opened {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  /* height: 100%; */
  width: 250px;
  gap: 20px;
  padding: 3rem 1.25rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  border-radius: 0 0.5rem 0.5rem 0;
}

.mobile-menu-opened.slide-in {
  transform: translateX(0);
}

.header-navbar-links a,
.mobile-menu-opened a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

.header-navbar-links a:hover,
.mobile-menu-opened a:hover {
  color: #3498db;
}

.header-navbar-links a:active,
.mobile-menu-opened a:active {
  color: #2980b9;
}

.buttons-section {
  display: flex;
  flex-direction: column;
  /* padding: 2rem 0 5.4rem; */ /* 32px 0 86.4px */
  margin-top: 3rem;
  border-top: 1px solid #C1C7D7;
}

.scaling-slider {
  display: flex;
  align-items: flex-start;
  margin-top: 3rem;
}

.level-label {
  display: inline;
  font-family: var(--font-family-primary);
  font-size: 1.75rem;
  font-weight: 700;
  padding: 0;
  margin: -0.5rem 2rem 0 0;
}

.input-label-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.scale-labels-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.75rem;
}

.circle {
  font-size: 0.82rem;
  margin: 5px;
  cursor: pointer;
}

.slider-input {
  /* background: #d3d3d3; */
  background-color: #E0E3EB;
  height: 16px;
  /* width: 184px; */
  /* width: 40%; */
  border-radius: 5px;
  /* transition: 0.4s; */
  transition: 1s;
  cursor: pointer;
  appearance: none; /* Remove default styles */
}

input[type="range"]::-webkit-slider-thumb {
  background: var(--background-color-light);
  height: 24px;
  width: 24px;
  border: 8px solid #FF668A;
  border-radius: 50%;
  cursor: pointer;
  appearance: none; /* Remove default styles */
}

input[type="range"]::-webkit-slider-thumb:hover {
  outline: 1px solid #2A303C;
}

input[type="range"]::-webkit-slider-thumb:active {
  outline: 1px solid #2A303C;
}

.slider-input:disabled {
  background-color: #FF99B1; /* All filled, disabled */
}

.authors-left,
.how-it-works-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 50%; */
  width: 100%;
  padding: 0;
  margin: 0;
  /* margin-top: 4.5rem; */
}

.how-it-works-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  /* width: 50%; */
  /* width: 100%; */
  /* width: 728px; */
  padding: 0;
  margin: 0;
}

.authors-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.designer-upscaler-container {
  display: flex;
  flex-direction: column;
  /* width: 352px; */
  width: 100%;
}

/* TODO Make the designer-container and frontend-developer-container of the same width, but responsive */
.designer-container,
.frontend-developer-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-light);
  padding: 2.5rem;
  border-radius: 0.75rem;
  /* box-shadow: 0 0 250px rgba(116, 128, 164, 0.08); */
  /* box-shadow: 0 0 128px rgba(57, 60, 68, 0.08); */
  box-shadow: 0 0 40px #28292B;
}

.frontend-developer-container {
  /* width: 352px; */
  width: 100%;
}

.author-data-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 1.75rem; /* 28px */
  position: relative;
  z-index: 5;
}

.author-data-container svg {
  background-color: var(--background-color-light);
  position: absolute;
  height: 75%;
  width: 40%;
  top: 0;
  right: 0;
  z-index: -4;
  margin-top: -2rem;
  margin-right: -1.5rem;
}

.author-image {
  /* width: 100%; */
  width: 96px;
  border-radius: 50%;
}

.author-name {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 1.5rem 0 0;
}

.author-role {
  margin: 1rem 0 0;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.25rem 0 0;
  border-top: 1px solid #C1C7D7;
}

.linkedin-container {
  display: flex;
  align-items: center;
}

.fa-linkedin {
  color: #0A66C2;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.upscaler-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  margin-top: 2.25rem; /* 36px */
  border: 2px solid var(--text-color);
  border-radius: 0.5rem;
}

.upscaler-link-container p {
  margin-bottom: 0;
}

.github-logo {
  /* width: 100%; */
  width: 55px;
  margin-right: 1rem;
  border-radius: 50%;
}

.upscaler-description {
  text-align: start;
}


.how-it-works-left,
.authors-left {
  align-items: flex-start;
  text-align: start;
  /* width: 50%; */
  width: 100%;
}

.footer {
  display: flex;
  /* align-self: center; */
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.footer-title-container {
  display: flex;
  align-items: center;
}

.dropzone-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #F5F5F7; */
  background-color: #C1C7D7;
  height: 100%;
  /* height: 440px; */
  /* height: 100%; */
  width: 100%;
  /* width: 728px; */
  /* width: 590px; */
  /* width: 100%; */
  /* padding: 2.5rem; */
  padding: 1.25rem;
  /* margin: 2em auto 0; */
  margin: 0 auto;
  border-radius: 16px;
  /* position: relative; */
}

.dropzone-container:hover,
.dropzone-container:focus,
.dropzone-container:active {
  outline: 4px solid #3392FF;
}

.dropzone {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 2em;
  /* background-color: #F5F5F7; */
  background-color: #C1C7D7;
  /* height: 100%; */
  /* min-height: 469px; */
  /* height: 400px; */
  height: 100%;
  /* width: 688px; */
  /* width: 550px; */
  width: 100%;
  /* padding: 40px; */
  /* margin: 2em auto 0; */
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  /* border: 5px dotted #DDD; */
  border: 5px dotted #3F485A;
  border-radius: 12px;
}

.dropzone-text {
  color: var(--text-color-light);
}

.dropzone-image i,
.fa-file {
  color: var(--text-color-light);
  font-size: 2.5rem;
}

.dropzone-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropzone-input p {
  margin: 0;
}

.dropzone-input p:last-of-type {
  margin-top: 0.5rem;
}

.image-requirement {
  color: #949AAB;
  font-size: 0.875rem; /* 14px */
}

.upscale-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* max-height: 700px; */
}

.original-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 0 auto;
}

.original img {
  transition-duration: 1.2s;
  position: relative;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0.5rem 0 2.5rem;
}

.display-title {
  font-size: 1rem;
  color: var(--text-color-light);
}

.display .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.display .scaled-up img {
  display: block;
  margin: 0;
  position: absolute;
  left: 0%;
}

.dragOverlay {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.dragger {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 6px;
  position: absolute;
  /* transform: translate(50px 0); */
  cursor: pointer;
}

.dragger-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color-light);
  height: 12px;
  width: 40px;
  margin-top: 250px;
  /* margin-top: 30%; */
  border: 12px solid #3392FF;
  border-radius: 50%;
  cursor: pointer;
}

.buttons-container-right {
  display: flex;
  flex-direction: column;
}

.delete-upscale-buttons-container {
  display: flex;
  align-items: center;
}

.delete-download-buttons-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.download-buttons-container {
  display: flex;
  flex-direction: column;
}

.download-arrow-container {
  display: flex;
}

.fa-angle-down {
  color: var(--text-color);
}

.download-formats-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 4px 8px rgba(42, 48, 60, 0.16);
}

.upscale-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  width: 100%;
  margin: 2rem 0 0;
}

.interpolation {
  display: flex;
  flex: 1;
}

/* Buttons */

button {
  cursor: pointer;
}

.button-no-interpolation,
.button-bicubic {
  color: var(--text-color-light);
  font-family: inherit;
  background-color: var(--background-color-light);
  font-size: 0.875rem; /* 14px */
  padding: 0.5rem 1rem;
  transition: 0.2s;
  border: 1px solid #E0E3EB;
}

.button-no-interpolation {
  border-radius: 5px 0 0 5px;
}

.button-bicubic {
  border-radius: 0 5px 5px 0;
}

.button-no-interpolation:hover,
.button-bicubic:hover {
  color: var(--text-color);
  background-color: #1A85FF;
  box-shadow: 0 4px 8px rgba(42, 48, 60, 0.16);
}

.button-no-interpolation:focus,
.button-bicubic:focus {
  color: var(--text-color);
  background-color: #3392FF;
  /* outline: 1px solid #2A303C; */
}

.button-no-interpolation:active,
.button-bicubic:active {
  color: var(--text-color);
  background-color: #1A85FF;
  padding: 6px 11px;
  box-shadow: 0 4px 8px rgba(42, 48, 60, 0.16);
}

.button-no-interpolation:disabled,
.button-bicubic:disabled {
  color: var(--text-color-light);
  background-color: #E0E3EB;
}


.delete-button {
  color: var(--text-color-light);
  background-color: var(--background-color-light);
  font-family: inherit;
  font-size: 1rem;
  /* padding: 0.75rem; */
  padding: 16px 17px;
  transition: 0.2s;
  margin-right: 1.5rem;
  border: 1px solid #C1C7D7;
  border-radius: 6px;
}

.delete-button:hover {
  font-size: 1rem;
  padding: 16px 17px;
  outline: 1px solid #2A303C;
  box-shadow: 0 4px 8px rgba(42, 48, 60, 0.16);
}

.delete-button:focus {
  font-size: 1rem;
  padding: 16px 17px;
  outline: 1px solid #2A303C;
}

.delete-button:active {
  font-size: 0.875rem; /* 14px */
  padding: 17px 18px;
  outline: 1px solid #2A303C;
  box-shadow: 0 4px 8px rgba(42, 48, 60, 0.16);
}

.delete-button:disabled {
  font-size: 1rem;
  padding: 16px 17px;
  color: #C1C7D7;
  border: 1px solid #C1C7D7;
}

.delete-button-disabled {
  color: #C1C7D7;
  font-family: inherit;
  background-color: var(--background-color-light);
  /* font-size: 1.125rem;
  padding: 0.75rem; */
  font-size: 1rem;
  padding: 16px 17px;
  margin-right: 1.5rem;
  border: 1px solid #C1C7D7;
  border-radius: 6px;
}


.upscale-button {
  color: var(--text-color);
  font-family: inherit;
  background-color: #3392FF;
  font-size: 0.875rem; /* 14px */
  padding: 1.125rem 2rem; /* 18px 32px */
  transition: 0.2s;
  margin-left: 0;
  border: none;
  border-radius: 6px;
  /* box-shadow: 0 4px 8px #2A303C; */
  /* box-shadow: 0 4px 8px rgba(42, 48, 60, 0.16); */
}

.upscale-button:hover {
  background-color: #1A85FF;
  box-shadow: 0 4px 8px rgba(42, 48, 60, 0.16);
}

.upscale-button:focus {
  background-color: #3392FF;
  outline: 1px solid #2A303C;
}

.upscale-button:active {
  background-color: #1A85FF;
  padding: 1rem 1.875rem; /* 16px 30px */
  box-shadow: 0 4px 8px rgba(42, 48, 60, 0.16);
}

.upscale-button:disabled {
  color: var(--text-color-light);
  padding: 1.125rem 2.1rem; /* 18px 33.6px */
  background-color: #E0E3EB;
}

.upscale-button-disabled {
  color: var(--text-color-light);
  font-family: inherit;
  background-color: #E0E3EB;
  font-size: 0.875rem; /* 14px */
  padding: 1.125rem 2.1rem; /* 18px 33.6px */
  margin-left: 0;
  border: none;
  border-radius: 6px;
}


.download-button {
  color: var(--text-color);
  font-family: inherit;
  background-color: #3392FF;
  font-size: 0.875rem; /* 14px */
  padding: 1.125rem 1.5rem; /* 18px 24px */
  transition: 0.2s;
  margin: 0;
  border: none;
  border-right: 1px solid #005FCC;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.download-button:hover {
  background-color: #1A85FF;
}

.download-button:focus {
  background-color: #3392FF;
  outline: 1px solid #2A303C;
}

.download-button:active {
  background-color: #1A85FF;
  padding: 1rem 1.375rem; /* 16px 22px */
}

.download-button:disabled {
  color: var(--text-color-light);
  padding: 1.125rem 1.625rem; /* 18px 26px */
  background-color: #E0E3EB;
  border-right: 1px solid #C1C7D7;
}


.arrow-button {
  color: var(--text-color);
  font-family: inherit;
  background-color: #3392FF;
  font-size: 0.875rem; /* 14px */
  padding: 1.125rem 0.75rem; /* 18px 12px */
  transition: 0.2s;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.arrow-button:hover {
  background-color: #1A85FF;
}

.arrow-button:focus {
  background-color: #3392FF;
  outline: 1px solid #2A303C;
}

.arrow-button:active {
  background-color: #1A85FF;
  padding: 1rem 0.625rem; /* 16px 10px */
}

.arrow-button:disabled {
  color: #949AAB;
  background-color: #E0E3EB;
}


.download-button-jpg,
.download-button-png {
  color: var(--text-color-light);
  font-family: inherit;
  background-color: #d3d3d3;
  font-size: 0.875rem; /* 14px */
  padding: 1rem 1.5rem; /* 16px 24px */
  border: none;
  border-radius: 4px;
}

.download-button-jpg {
  margin: 1px 0 0.5px;
  /* border-radius: 6px 6px 0 0; */
}

.download-button-png {
  margin-top: 0.5px;
  /* border-radius: 0 0 6px 6px; */
}

.download-button-jpg:hover,
.download-button-png:hover {
  background-color: #C1C7D7;
}

.download-button-jpg:focus,
.download-button-png:focus {
  background-color: #d3d3d3;
  outline: 1px solid #2A303C;
}

.download-button-jpg:active,
.download-button-png:active {
  background-color: #C1C7D7;
}

.download-button-jpg:disabled,
.download-button-png:disabled {
  color: var(--text-color-light);
  background-color: #E0E3EB;
}


/* Media queries for mobile screens */

/* @media (width <= 599px) */
@media (max-width: 599px) {
  /* Typography */

  .title-description,
  .how-it-works-title,
  .authors-title {
    font-size: 2rem;
  }

  .how-it-works-title,
  .authors-title {
    margin-bottom: 0;
  }

  .level-label {
    font-size: 1.5rem;
  }

  .main-left p {
    margin: 2rem 0 2.5rem;
  }

  .authors-left p {
    margin: 1.5rem 0 0;
  }

  .title-description {
    margin: 1.75rem 0 0;
  }

  .demo-title {
    font-size: 1.125rem;
  }

  .footer-title {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
  }

  /* Layout */

  .app,
  .container {
    height: 100%;
    width: 100%;
  }

  body {
    flex-direction: column;
    width: 100%;
    max-width: 600px;
  }

  .dropzone {
    flex-direction: column;
    padding: 2rem;
  }

  .how-it-works,
  .authors {
    width: 100%;
    padding: 2.5rem;
  }

  .header,
  .header-container,
  .footer {
    justify-content: center;
    flex-wrap: wrap;
  }

  .header {
    width: 100%;
    padding: 2.5rem 2rem 0;
  }

  .header-container {
    width: 100%;
    margin: 0 auto;
  }

  .logo-container,
  .navbar,
  .footer-title-container,
  .footer-navbar {
    width: 100%;
  }

  .footer-navbar {
    justify-content: center;
  }

  .navbar {
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .logo-container {
    justify-content: center;
  }

  .header-mobile-menu {
    display: flex;
    margin-right: 2.5rem;
  }

  .main,
  .main-container {
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .main {
    padding: 0 2rem 2.8rem;
  }

  .main-container {
    padding: 2rem;
  }

  .how-it-works,
  .authors {
    padding-bottom: 7.5rem; /* 120px */
  }

  .main-left-and-right-container,
  .how-it-works,
  .authors {
    flex-direction: column;
    align-items: center;
  }

  .main-right,
  .main-left,
  .authors-right,
  .authors-left,
  .how-it-works-right,
  .how-it-works-left {
    width: 100%;
  }

  .main-right {
    height: 100%;
    width: 100%;
    margin-top: 1.25rem;
  }

  .upscale-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 1rem 0;
  }

  .display-title {
    margin-right: -4.5rem;
  }

  .dragger {
    width: 10px;
  }
 
 .buttons-container-right {
    margin-top: 2.5rem;
  }

  .how-it-works-right {
    align-items: center;
    margin-top: 2.25rem;
  }

  .tabs {
    align-self: center;
  }

  .how-it-works-list {
    margin: 2rem 0 0;
  }

  .main-left,
  .how-it-works-left,
  .authors-left {
    align-items: center;
    justify-content: center;
  /* text-align: center; */
  }

  .how-it-works-left,
  .authors-left {
    margin-top: 1rem;
  }

  .authors-right {
    flex-direction: column;
    /* width: 80%; */
    margin-top: 3.625rem; /* 58px */
  }

  .designer-upscaler-container,
  .frontend-developer-container {
    width: 100%;
  }
  
  .frontend-developer-container {
    margin-top: 2.5rem;
  }

  .upscaler-link-container {
    flex-direction: column;
  }

  .author-data-container svg {
    height: 50%;
  }

  .footer {
    display: flex;
    align-self: center;
    width: 100%;
    padding: 4rem 3rem 4.5rem;
  }

  .footer-title-container {
    justify-content: center;
  }

  .footer-navbar {
    margin-top: 0;
  }

  /* Buttons */

  .button-no-interpolation,
  .button-bicubic {
    padding: 0.5rem;
  }
  
}

/* Media queries for larger screens */

/* @media (width >= 600px) */
@media (min-width: 600px) {
  /* Typography */

  .title-description,
  .how-it-works-title,
  .authors-title {
    font-size: 2.5rem;
  }

  .title-description {
    width: 360px;
  }

  .main-left p,
  .how-it-works-left p,
  .authors-left p {
    margin: 0 178px 0 0;
  }

  .how-it-works-list {
    margin: 0 178px 2.5rem 0;
  }

  /* Layout */

  .header,
  .header-container,
  .footer {
    justify-content: space-between;
  }

  .header-container {
    padding: 3rem 4rem 0;
  }

  .logo-container,
  .navbar {
    margin-bottom: 2.5rem;
  }

  .mobile-menu-opened {
    display: none;
  }

  .main-container {
    padding: 3rem 7.8rem 0; /* 48px 124.8px 0 */
  }

  .main-right {
    width: 728px;
  }

  .main-left {
    align-items: flex-start;
  }

  .display {
    margin: 0.5rem 0 3rem;
  }

  .dropzone-container {
    height: 509px;
  }

  .buttons-section {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4.5rem 0 5.4rem; /* 40px 0 86.4px */
    margin-top: 4.5rem;
  }

  .delete-download-buttons-container,
  .upscaled-text {
    margin-top: 0;
  }

  .scaling-slider {
    margin-top: 0;
  }

  .slider-input {
    width: 184px;
  }

  .delete-download-buttons-container {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .how-it-works {
    padding: 2.5rem 12.3rem 10rem; /* 40px (4.7rem - 75.2px) 196.8px 160px*/
  }

  .authors {
    padding: 5.125rem 12.3rem 7rem; /* 82px 196.8px (7rem — 112px) (4.5rem — 72px) */
  }

  .designer-upscaler-container {
    margin-right: 1.5rem;
  }

  .designer-upscaler-container,
  .frontend-developer-container {
    width: 352px;
  }

  .footer {
    padding: 4.5rem 8.5rem 4.8rem;
  }

  .navbar,
  .footer-navbar {
    justify-content: flex-end;
  }
  
}
