*, *::before, *::after {
  box-sizing: border-box;
}

/* html, body, #root {
  width: 100%;
  height: 100%;
} */

:root {
  --font-family-primary: "Montserrat", sans-serif;
  --font-family-fundamental: "Noto Sans", sans-serif;

  /* Dark mode */
  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;

  /* Light mode */
  /* --text-color-light: #213547; */
  --text-color-light: #2A303C;
  --background-color-light: whitesmoke;
}

#root {
  display: flex;
  text-align: center;
  /* background-color: cornflowerblue; */
  height: fit-content;
  min-height: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  padding: 0;
  margin: 0 auto;
}

body {
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Typography */



/* Layout */

.main {
  display: flex;
  /* flex-direction: column;
  gap: 2rem; */
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 0 4.5rem;
}

.main-left-and-right-container {
  display: flex;
}

.main-right,
.main-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.main-right {
  align-items: center;
  justify-content: center;
  /* background-color: #F5F5F7; */
  background-color: #C1C7D7;
  min-height: 400px;
  height: 100%;
  padding: 2.5em;
  border-radius: 16px;
}

.main-left {
  text-align: start;
  align-items: flex-start;
  padding-left: 0;
}

.header,
.buttons-section {
  display: flex;
}

.header {
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 0 0;
}

.header-container,
.main-container {
  display: flex;
  margin: 0 4.5rem;
  width: 100%;
  /* border: 2px solid #242424; */
}

/* .header svg,
.main svg {
  position: relative;
} */

.header-container {
  justify-content: space-between;
  padding: 2rem;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.main-container {
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 7.5rem;
  margin: 0 4.5rem;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  margin-right: 0.75em;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
}

.buttons-section {
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  margin-top: 2.5rem;
  border-top: 1px solid #C1C7D7;
}

.scaling-slider {
  display: flex;
}

.level-label {
  font-family: var(--font-family-primary);
  margin: 0 1.5em 0 0;
}

.input-label-container {
  display: flex;
  flex-direction: column;
}

.scale-labels-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.circle {
  /* background-color: #ccc; */
  height: 25px;
  width: 25px;
  /* padding: 0.5em; */
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
}

/* .circle.active {
  background-color: #FF668A;
} */

.slider-input {
  background: #d3d3d3;
  height: 10px;
  width: 200px;
  border-radius: 5px;
  /* transition: 0.4s; */
  transition: 1s;
  cursor: pointer;
  appearance: none; /* Remove default styles */
}

input[type="range"]::-webkit-slider-thumb {
  background: #FF668A;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  appearance: none; /* Remove default styles */
}

.how-it-works,
.authors {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.authors-right,
.authors-left,
.how-it-works-right,
.how-it-works-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  /* margin-top: 4.5rem; */
}

.how-it-works-right,
.authors-right {
  align-items: center;
}

/* .demo-image-cat {
  width: 100%;
} */

.how-it-works-left,
.authors-left {
  align-items: flex-start;
  text-align: start;
}

.footer {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  /* margin: 0 auto; */
}

.dropzone-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #F5F5F7; */
  background-color: #C1C7D7;
  /* height: 100%; */
  /* min-height: 509px; */
  /* height: 440px; */
  height: 100%;
  /* width: 100%; */
  /* width: 728px; */
  /* width: 590px; */
  width: 100%;
  /* padding: 2.5rem; */
  padding: 0;
  /* margin: 2em auto 0; */
  margin: 0 auto;
  border-radius: 16px;
  /* position: relative; */
}

.dropzone {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 2em;
  /* background-color: #F5F5F7; */
  background-color: #C1C7D7;
  /* height: 100%; */
  /* min-height: 469px; */
  height: 400px;
  /* height: 100%; */
  /* width: 100%; */
  /* width: 688px; */
  /* width: 550px; */
  width: 100%;
  /* padding: 40px; */
  /* margin: 2em auto 0; */
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  /* border: 5px dotted #DDD; */
  border: 5px dotted #3F485A;
  border-radius: 12px;
}

.dropzone-image i {
  font-size: 2.5rem;
}

.dropzone-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropzone-input p {
  margin: 0;
}

.image-requirement {
  color: #949AAB;
  font-size: 0.875rem; /* 14px */
}

.upscale-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  /* z-index: 4; */
}

.original-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 0 auto;
}

.original img {
  transition-duration: 1.2s;
  position: relative;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 5px;
}

.display .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.display .scaled-up img {
  display: block;
  margin: 0;
  position: absolute;
  left: 0%;
}

.dragOverlay {
  /* position: absolute; */
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.dragger {
  background: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 4px;
  position: absolute;
  /* transform: translate(50px 0); */
  cursor: pointer;
}

.buttons-container-right {
  display: flex;
  flex-direction: column;
}

.delete-upscale-buttons-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.delete-download-buttons-container {
  display: flex;
  align-items: flex-start;
}

.download-buttons-container {
  display: flex;
  flex-direction: column;
}

.download-arrow-container {
  display: flex;
}

.fa-angle-down {
  color: var(--text-color);
}

.download-formats-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.upscale-header {
  display: flex;
  min-height: 40px;
  width: 100%;
  margin-bottom: 2rem;
}

.interpolation {
  display: flex;
  flex: 1;
}

/* Buttons */

button {
  cursor: pointer;
}

.button-no-interpolation,
.button-bicubic {
  background: #DDD;
  padding: 5px 10px;
  border: 1px solid #AAA;
}

.button-no-interpolation {
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.button-bicubic {
  border-radius: 0 5px 5px 0;
}

.button-no-interpolation.active,
.button-bicubic.active {
  background: #c4c4ff;
}


.delete-button {
  font-family: inherit;
  font-size: 1.125rem; /* 18px */
  margin-right: 2em;
  padding: 0.75rem; /* 12px */
  border: 1px solid #C1C7D7;
  border-radius: 6px;
}

.delete-button:hover {
  background-color: cornflowerblue;
}

.delete-button:focus {
  outline: 2px dotted cornflowerblue;
}

.delete-button:active {
  outline: 2px solid cornflowerblue;
}

.delete-button:disabled {
  background-color: whitesmoke;
}


.upscale-button {
  color: var(--text-color);
  font-family: inherit;
  background-color: #3392FF;
  font-size: 0.875rem; /* 14px */
  padding: 1.125rem 2rem; /* 18px 32px */
  border: none;
  border-radius: 6px;
}

.upscale-button:hover {
  background-color: #1A85FF;
}

.upscale-button:focus {
  background-color: #3392FF;
  outline: 1px solid #2A303C;
}

.upscale-button:active {
  background-color: #1A85FF;
}

.upscale-button:disabled {
  color: var(--text-color-light);
  background-color: #E0E3EB;
}


.download-button {
  color: var(--text-color);
  font-family: inherit;
  background-color: #3392FF;
  font-size: 0.875rem; /* 14px */
  padding: 1.125rem 1.5rem; /* 18px 24px */
  border: none;
  border-right: 1px solid #005FCC;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.download-button:hover {
  background-color: #1A85FF;
}

.download-button:focus {
  background-color: #3392FF;
  outline: 1px solid #2A303C;
}

.download-button:active {
  background-color: #1A85FF;
}

.download-button:disabled {
  color: var(--text-color-light);
  background-color: #E0E3EB;
  border-right: 1px solid #C1C7D7;
}


.arrow-button {
  color: var(--text-color);
  font-family: inherit;
  background-color: #3392FF;
  font-size: 0.875rem; /* 14px */
  padding: 1.125rem 1.5rem; /* 18px 24px */
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.arrow-button:hover {
  background-color: #1A85FF;
}

.arrow-button:focus {
  background-color: #3392FF;
  outline: 1px solid #2A303C;
}

.arrow-button:active {
  background-color: #1A85FF;
}

.arrow-button:disabled {
  color: #949AAB;
  background-color: #E0E3EB;
}


.download-button-jpg,
.download-button-png {
  color: var(--text-color-light);
  font-family: inherit;
  background-color: #d3d3d3;
  font-size: 0.875rem; /* 14px */
  padding: 1rem 1.5rem; /* 16px 24px */
  border: none;
  border-radius: 4px;
}

.download-button-jpg:hover,
.download-button-png:hover {
  background-color: #C1C7D7;
}

.download-button-jpg:focus,
.download-button-png:focus {
  background-color: #d3d3d3;
  outline: 1px solid #2A303C;
}

.download-button-jpg:active,
.download-button-png:active {
  background-color: #C1C7D7;
}

.download-button-jpg:disabled,
.download-button-png:disabled {
  color: var(--text-color-light);
  background-color: #E0E3EB;
}


/* Media queries */
