*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* height: fit-content; */
  min-height: 100%;

  padding: 0;
  margin: 0;
}

/* To do. Use variables for colors */

body {
  display: flex;
  place-items: center;
  height: 100%;
  min-width: 320px;
  /* padding: 0; */
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-align: center;
  min-height: 100%;
  width: 100%;
  padding: 4.5em 9em;
  margin: 0 auto;
}

/* .dark-mode {
  :root {
    color: var(--text-color);
    background-color: var(--background-color);
  }
}

.light-mode {
  :root {
    color: #213547;
    background-color: whitesmoke;
  }
} */

.dark-mode {
    /* color: rgba(255, 255, 255, 0.87);
    background-color: #242424; */

    color: var(--text-color);
    background-color: var(--background-color);
}

.light-mode {
    color: #213547;
    background-color: whitesmoke;
}

button {
  cursor: pointer;
}

.toggle-button {
  width: 40%;
  margin-bottom: 2em;
}

.download-options label,
.download-options input,
.scaling-options select,
select option {
  cursor: pointer;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  animation: spin 2s linear infinite;
  margin: 1.25em auto 2em;
  display: block;
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: whitesmoke;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
