*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --font-family-primary: "Montserrat", sans-serif;
  --font-family-fundamental: "Noto Sans", sans-serif;

  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;

  color-scheme: light dark;

  color: #2A303C;
  background-color: whitesmoke;

  /* Dark mode */
  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;

  /* Light mode */
  --text-color-light: #2A303C;
  --background-color-light: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* height: fit-content; */
  min-height: 100%;
  /* overflow-x: hidden; */
  /* width: 100%; */

  /* padding: 2rem 4.5rem; */
  margin: 0;

  user-select: none;
}

/* To do. Use variables for colors and fonts */

html,
body {
  /* height: 100%; */
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  /* place-items: center; */
  height: 100%;
  /* min-width: 320px; */
  padding: 0;
  margin: 0;
}

/* .dark-mode {
  :root {
    color: var(--text-color);
    background-color: var(--background-color);
  }
}

.light-mode {
  :root {
    color: var(--text-color-light);
    background-color: var(--background-color-light);
  }
} */

.dark-mode {
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  color: var(--text-color);
  background-color: var(--background-color);
}

[data-theme="dark"] {
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  color: var(--text-color);
  background-color: var(--background-color);
}

[data-theme="dark"] :root,
[data-theme="dark"] .header-container,
[data-theme="dark"] .main-container {
  color: var(--text-color);
  background-color: var(--background-color);
}

.light-mode {
  /* color: #2A303C;
  background-color: whitesmoke; */

  color: var(--text-color-light);
  background-color: var(--background-color-light);
}

[data-theme="light"] {
  /* color: #2A303C;
  background-color: whitesmoke; */

  color: var(--text-color-light);
  background-color: var(--background-color-light);
}

[data-theme="light"] :root,
[data-theme="light"] .header-container,
[data-theme="light"] .main-container {
  color: var(--text-color-light);
  background-color: var(--background-color-light);
}

/* Typography */

.logo-title,
.title,
.title-description,
.how-it-works-title,
.authors-title {
  font-family: var(--font-family-primary);
}

.logo-text {
  font-size: 1.125rem;
  font-weight: 600;
}

.navbar a,
.footer-title,
.footer-navbar h3,
.footer-navbar a,
.contact-container a,
.upscaler-link-container a {
  color: inherit;
  /* font-size: 0.875rem; */ /* 14px */
  font-size: 1rem;
  font-weight: 400;
  line-height: 130%;
}

.title {
  font-size: 1rem;
  color: var(--text-color);
  background-color: #FF4D4D;
  padding: 0.2em 0.625em; /* 3.2px, 10px */
  margin: 2rem 0 0;
  border-radius: 4px;
}

.title-description,
.how-it-works-title,
.authors-title {
  font-size: 2.5rem;
  font-weight: 700;
  /* width: 360px; */
  line-height: 130%;
}

.title-description {
  margin: 1.75rem 0 2.5rem; /* 28px 0 40px */
}

.how-it-works-title,
.authors-title {
  margin-bottom: 2.5rem;
}

.main-left p,
.how-it-works-left p,
.authors-left p,
.how-it-works-list {
  line-height: 160%;
  /* width: 360px; */
}

.how-it-works-left li {
  margin-bottom: 0.5rem;
}

.demo-title {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.footer-navbar .footer-share {
  font-weight: 700;
  margin-right: 1rem;
}

.footer-social {
  color: inherit;
  font-family: inherit;
  background: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 130%;
  text-decoration: underline;
  padding: 0;
  margin-left: 1rem;
  border: none;
  cursor: pointer;
}

.bold {
  font-weight: 700;
}

/* Layout */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  /* background-color: cornflowerblue; */
  min-height: 100%;
  width: 100%;
  /* padding: 2rem 4.5rem; */
  padding: 0;
  margin: 0 auto;
  /* margin: 2rem 4.5rem; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  /* border-radius: 16px; */
  /* position: relative; */
}

.how-it-works,
.authors {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.header,
.main {
  display: flex;
  /* background-image: url(./assets/dotted-background.svg); */
  /* background-image: url(./assets/polka-dots-background.svg); */
  background-size: auto;
  width: 100%;
  margin: 0;
  position: relative;
  z-index: 5;
}

.header {
  z-index: 9;
}

.background-svg-header,
.background-svg-main {
  background-color: var(--background-color-light);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: -4;
}

[data-theme="dark"] .background-svg-header,
[data-theme="dark"] .background-svg-main {
  background-color: #242424;
}

[data-theme="light"] .background-svg-header,
[data-theme="light"] .background-svg-main {
  background-color: whitesmoke;
}

.background-svg-main {
  margin-top: -0.3rem;
}

#rect {
  padding: 0;
  margin: 0;
}

.header-container,
.main-container {
  display: flex;
  width: 100%;
  margin: 0 4.5rem;
  z-index: 7;
}

/* .how-it-works {
  padding: 2.5rem 12.3rem 10rem; /* 40px (4.7rem - 75.2px) 196.8px 160px*/
/* } */

.how-it-works-list {
  padding: 1rem;
}

.authors {
  background-color: #C1C7D7;
  /* background-color: #F5F5F7; — almost matches the root background color*/
  /* padding: 5.125rem 12.3rem 7rem; */ /* 82px 196.8px (7rem — 112px) (4.5rem — 72px) */
  margin: 0 4.5rem;
}

button {
  cursor: pointer;
}

.toggle-button {
  width: 40%;
  margin-bottom: 2em;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  animation: spin 2s linear infinite;
  margin: 1.25em auto 2em;
  display: block;
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

/* Media queries */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: whitesmoke;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* Media queries for mobile screens */

/* @media (width <= 599px) */
@media (max-width: 599px) {
  /* Typography */

  .title-description,
  .how-it-works-title,
  .authors-title {
    font-size: 2rem;
  }

  .how-it-works-title,
  .authors-title {
    margin-bottom: 0;
  }

  .level-label {
    font-size: 1.5rem;
  }

  .main-left p {
    margin: 2rem 0 2.5rem;
  }

  .authors-left p {
    margin: 1.5rem 0 0;
  }

  .title-description {
    margin-right: 0;
    margin: 1.75rem 0 0;
  }

  .demo-title {
    font-size: 1.125rem;
  }

  .footer-title {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    /* margin-left: 50%; */
  }

  /* Layout */

  .app,
  .container {
    height: 100%;
    width: 100%;
  }

  body {
    flex-direction: column;
    width: 100%;
  }

  .how-it-works,
  .authors {
    width: 100%;
    padding: 2.5rem;
  }

  .header,
  .header-container,
  .footer {
    justify-content: center;
    flex-wrap: wrap;
  }

  .header {
    width: 100%;
    padding: 2.5rem 2rem 0;
  }

  .header-container {
    width: 100%;
    padding-top: 2rem;
    margin: 0 auto;
  }

  .logo-container,
  .navbar,
  .footer-title-container,
  .footer-navbar {
    width: 100%;
  }

  .footer-navbar {
    justify-content: center;
  }

  .navbar {
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .logo-container {
    justify-content: center;
  }

  .header-mobile-menu {
    display: flex;
    margin-right: 2.5rem;
  }

  .main,
  .main-container {
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .main {
    padding: 0 2rem 2.8rem;
  }

  .main-container {
    padding: 2rem;
  }

  .how-it-works,
  .authors {
    padding-bottom: 7.5rem; /* 120px */
  }

  .main-left-and-right-container,
  .how-it-works,
  .authors {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .main-right,
  .main-left,
  .authors-right,
  .authors-left,
  .how-it-works-right,
  .how-it-works-left {
    width: 100%;
  }

  .main-right {
    height: 100%;
    width: 100%;
    margin-top: 1.25rem;
  }

  .upscale-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 1rem 0;
  }

  .display-title {
    margin-right: -4.5rem;
  }

  .dragger {
    width: 10px;
  }

  .buttons-container-right {
    margin: 2.5rem auto;
  }

  .how-it-works-right {
    align-items: center;
    margin-top: 2.25rem;
  }

  .tabs {
    align-self: center;
  }

  .how-it-works-list {
    margin: 2rem 0 0;
  }

  .main-left,
  .how-it-works-left,
  .authors-left {
    align-items: center;
    justify-content: center;
  /* text-align: center; */
  }

  .how-it-works-left,
  .authors-left {
    margin-top: 1rem;
  }

  .authors-right {
    flex-direction: column;
    /* width: 80%; */
    margin-top: 3.625rem; /* 58px */
  }

  .designer-upscaler-container,
  .frontend-developer-container {
    width: 100%;
  }

  .frontend-developer-container {
    margin-top: 2.5rem;
  }

  .upscaler-link-container {
    flex-direction: column;
  }

  .footer {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 100%;
    padding: 4rem 3rem 4.5rem;
  }

  .footer-title-container {
    justify-content: center;
  }

  /* .footer-title {
    margin-bottom: 0;
  } */

  .footer-navbar {
    margin-top: 0;
  }

  /* Buttons */

  .button-no-interpolation,
  .button-bicubic {
    padding: 0.5rem;
  }
  
}

/* Media queries for larger screens */

/* @media (width >= 600px) */
@media (min-width: 600px) {
  /* Typography */

  .title-description,
  .how-it-works-title,
  .authors-title {
    font-size: 2.5rem;
  }

  .title-description {
    width: 360px;
  }

  .main-left p,
  .how-it-works-left p,
  .authors-left p {
    margin: 0 178px 0 0;
  }

  .how-it-works-list {
    margin: 0 178px 2.5rem 0;
  }

  /* Layout */

  .header,
  .header-container,
  .footer {
    justify-content: space-between;
  }

  .header-container {
    padding: 2rem 4rem 0;
  }

  .main-container {
    padding: 3rem 7.8rem 0; /* 48px 124.8px 0 */
  }

  .main-right {
    width: 728px;
  }

  .main-left {
    align-items: flex-start;
  }

  .display {
    margin: 0.5rem 0 3rem;
  }

  /* .buttons-section {
    padding: 2rem 0 5.4rem;  */
    /* 32px 0 86.4px */
  /* } */

  .scaling-slider {
    margin-top: 0;
  }

  .slider-input {
    width: 184px;
  }

  .delete-download-buttons-container {
    align-items: flex-start;
  }

  .how-it-works {
    /* max-width: 1200px; */
    padding: 2.5rem 2.5rem 10rem; /* 40px (4.7rem - 75.2px) 196.8px 160px*/
  }

  .authors {
    padding: 5.125rem 12.3rem 7rem; /* 82px 196.8px (7rem — 112px) (4.5rem — 72px) */
  }

  .designer-upscaler-container,
  .frontend-developer-container {
    width: 352px;
  }

  .footer {
    padding: 4.5rem 8.5rem 4.8rem;
  }

  .navbar,
  .footer-navbar {
    justify-content: flex-end;
  }
  
}
