*, *::before, *::after {
  box-sizing: border-box;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */

/* .montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */

/* .noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

:root {
  --font-family-primary: "Montserrat", sans-serif;
  --font-family-fundamental: "Noto Sans", sans-serif;

  font-family: "Noto Sans", sans-serif;
  
  line-height: 1.5;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  /* Comment out the 2 lines above (color and background color) to make the app light mode by default */

  /* background-color: whitesmoke; */

  /* background-image: url(./assets/spring.png); */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */

  color: #2A303C;
  background-color: whitesmoke;

  /* Dark mode */
  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;

  /* Light mode */
  /* --text-color-light: #213547; */
  --text-color-light: #2A303C;
  --background-color-light: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* height: fit-content; */
  min-height: 100%;
  /* width: 100%; */

  /* padding: 2rem 4.5rem; */
  margin: 0;

  user-select: none;
}

/* To do. Use variables for colors and fonts */

body {
  display: flex;
  /* place-items: center; */
  height: 100%;
  /* min-width: 320px; */
  padding: 0;
  margin: 0;
}

/* Typography */

.title,
.title-description,
.how-it-works-title,
.authors.title {
  font-family: var(--font-family-primary);
}

.title {
  font-size: 1rem;
  color: var(--text-color);
  background-color: #FF4D4D;
  padding: 0.2em 0.625em; /* 3.2px, 10px */
  border-radius: 4px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.bold {
  font-weight: 700;
}

/* Layout */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  /* background-color: cornflowerblue; */
  min-height: 100%;
  width: 100%;
  /* padding: 2rem 4.5rem; */
  padding: 0;
  margin: 0 auto;
  /* margin: 2rem 4.5rem; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-radius: 16px; */
}

/* .header,
.main,
.authors, */
.how-it-works,
.footer {
  display: flex;
  /* color: var(--text-color); */
  /* background-color: var(--background-color); */
  /* background-color: var(--background-color-light); */
  width: 100%;
  padding: 2rem 4.5rem;
  margin: 2rem 4.5rem;
  /* border: 2px solid #242424; */
  /* border-radius: 16px; */
}

/* .main, */
.how-it-works,
.authors {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3.5rem 11rem 4.5rem;
  margin: 0 auto;
}

.header,
.main {
  display: flex;
  /* background-color: cornflowerblue; */
  /* background-image: url(./assets/spring.png); */
  /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><defs><pattern id="dots" width="10" height="10" patternUnits="userSpaceOnUse"><circle cx="5" cy="5" r="2" fill="#dddddd" /></pattern></defs><rect width="100%" height="100%" fill="white" /><rect width="100%" height="100%" fill="url(#dots)" /></svg>'); */
  background-image: url(./assets/dotted-background.svg);
  /* background-position: center; */
  /* background-size: auto; */
  /* background-repeat: no-repeat; */
  /* padding: 0; */
  /* position: absolute; */
  /* background-size: auto; */
  margin: 0;
  width: 100%;
  /* z-index: 1000; */
}

/* https://freesvg.org/dot-seamless-pattern */

.how-it-works {
  padding-bottom: 5.5rem;
}

.authors {
  background-color: #C1C7D7;
  /* background-color: #575757; */
  margin: 0 4.5rem;
}

/* .dark-mode {
  :root {
    color: var(--text-color);
    background-color: var(--background-color);
  }
}

.light-mode {
  :root {
    color: var(--text-color-light);
    background-color: var(--background-color-light);
  }
} */

.dark-mode {
    /* color: rgba(255, 255, 255, 0.87);
    background-color: #242424; */

    color: var(--text-color);
    background-color: var(--background-color);
}

.light-mode {
    /* color: #213547;
    background-color: whitesmoke; */

    color: var(--text-color-light);
    background-color: var(--background-color-light);
}

button {
  cursor: pointer;
}

.toggle-button {
  width: 40%;
  margin-bottom: 2em;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  animation: spin 2s linear infinite;
  margin: 1.25em auto 2em;
  display: block;
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

/* Media queries */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: whitesmoke;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* Media queries for mobile screen */

/* @media (width <= 600px) */
@media (max-width: 600px) {
  body {
    flex-direction: column;
    width: 100%;
  }

  /* Layout */

  /* .app {
    padding: 2rem;
  } */

  /* .header,
  .main, */
  /* .main-left-and-right-container, */
  .how-it-works,
  .authors,
  .footer {
    width: 100%;
    /* padding: 1.125rem; */
    padding: 2.5rem;
  }

  .header,
  .main,
  .main-container {
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .header-container {
    justify-content: space-between;
  }

  .main {
    padding: 0 2rem 4.5rem;
  }

  .header {
    justify-content: space-between;
    padding: 2rem 2rem 0;
  }

  .how-it-works,
  .authors {
    padding-bottom: 4.5rem;
  }

  .main-left-and-right-container,
  .how-it-works,
  .authors {
    flex-direction: column;
  }

  .main-right,
  .main-left,
  .authors-right,
  .authors-left,
  .how-it-works-right,
  .how-it-works-left {
    width: 100%;
  }

  .how-it-works-left,
  .authors-left {
  align-items: center;
  /* text-align: center; */
  }

  .footer {
    display: flex;
    align-self: center;
    justify-content: space-between;
    /* width: 100%;
    margin: 0 auto; */
  }
  
}
